In [1]:
import pandas as pd
# from google.colab import drive

# drive.mount('/content/gdrive')

ImportError: No module named pandas

In [21]:
# train_df = pd.read_csv('data/train.csv', header=None)
# train_df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/byBert/data/train.csv', header=None)
# train_df.head()

   0                                                  1
0  1  Indenyl compound of formula (1) wherein:M is a...
1  1  Indenyl compound of formula (2) wherein:M is a...
2  2  Indenyl compound according to claim 1, wherein...
3  2  Indenyl compound according to claim 1 wherein ...
4  2  Indenyl compound according to claim 1 wherein ...

In [22]:
test_df = pd.read_csv('data/test.csv', header=None)
test_df.head()

   0                                                  1
0  2  A modulation/demodulation receiver having a re...
1  2  The receiver of claim 13, wherein the adaptive...
2  2  The receiver of claim 13, wherein the adaptive...
3  2  The receiver of claim 13, wherein the adaptive...
4  2  The receiver of claim 14, wherein the first re...

In [0]:
train_df[0] = (train_df[0] == 2).astype(int)
test_df[0] = (test_df[0] == 2).astype(int)

In [24]:
train_df.head()

   0                                                  1
0  0  Indenyl compound of formula (1) wherein:M is a...
1  0  Indenyl compound of formula (2) wherein:M is a...
2  1  Indenyl compound according to claim 1, wherein...
3  1  Indenyl compound according to claim 1 wherein ...
4  1  Indenyl compound according to claim 1 wherein ...

In [25]:
test_df.head()

   0                                                  1
0  1  A modulation/demodulation receiver having a re...
1  1  The receiver of claim 13, wherein the adaptive...
2  1  The receiver of claim 13, wherein the adaptive...
3  1  The receiver of claim 13, wherein the adaptive...
4  1  The receiver of claim 14, wherein the first re...

In [26]:
# train_df_bert = pd.DataFrame({
#     'id':range(len(train_df)),
#     'label':train_df[0],
#     'alpha':['a']*train_df.shape[0],
#     'text': train_df[1].replace(r'\n', ' ', regex=True)
# })

# train_df_bert.head()

   id  label alpha                                               text
0   0      0     a  Indenyl compound of formula (1) wherein:M is a...
1   1      0     a  Indenyl compound of formula (2) wherein:M is a...
2   2      1     a  Indenyl compound according to claim 1, wherein...
3   3      1     a  Indenyl compound according to claim 1 wherein ...
4   4      1     a  Indenyl compound according to claim 1 wherein ...

In [27]:
dev_df_bert = pd.DataFrame({
    'id':range(len(test_df)),
    'label':test_df[0],
    'alpha':['a']*test_df.shape[0],
    'text': test_df[1].replace(r'\n', ' ', regex=True)
})

dev_df_bert.head()

   id  label alpha                                               text
0   0      1     a  A modulation/demodulation receiver having a re...
1   1      1     a  The receiver of claim 13, wherein the adaptive...
2   2      1     a  The receiver of claim 13, wherein the adaptive...
3   3      1     a  The receiver of claim 13, wherein the adaptive...
4   4      1     a  The receiver of claim 14, wherein the first re...

In [0]:
# train_df_bert.to_csv('/content/gdrive/My Drive/Colab Notebooks/byBert/data/train.tsv', sep='\t', index=False, header=False)

In [0]:
dev_df_bert.to_csv('data/dev.tsv', sep='\t', index=False, header=False)